.center-text {
    text-align: center;
  }

  ion-content {
    --padding-start: 16px;
    --padding-end: 16px;
  }

p {
    margin-top: 50px;
    font-size: normal;
}
h3 {
    font-weight: bold;
    margin-top: 30px;
}

h4 {
    margin-top: 40px;
    margin-bottom: -10px;
    font-weight: bold;
}

h6 {
    margin-top: 30px;
    margin-bottom: -15px;
}

  