<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-title class="center-text">Acerca de...</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
    <h3 class="margin-bottom">Ayuntamiento de Malagón beta - 2023</h3>
    <h4 class="margin-bottom">Desarrollo estructural y diseño gráfico:</h4>
    <h6 class="margin-bottom">• José Luis Gómez del Pulgar Valero</h6>
    <h6 class="margin-bottom">Contacto: joseluisgomezpv@gmail.com</h6>
    <p class="margin-bottom">Todos los derechos reservados @2023</p>
    <p class="margin-bottom">Gracias al pueblo de Malagón y a su gente, Policía Local y Protección Civil.</p>
</ion-content>
  